<style>
  .custom-logo{
    margin-left: 40% !important;
  }
  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }
    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    div .custom-form {
      margin-left: 10% !important;
    }
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  @media screen and (max-width: 998px) {
    .custom-logo{
      margin-left: 38% !important;
    }
  }

  @media screen and (max-width: 500px) {
    .custom-logo{
      margin-left: 30% !important;
    }
  }

  @media screen and (max-width: 508px) {
    .custom-logo{
      margin-left: 27% !important;
    }
  }
</style>

<div class="content" style="margin-bottom: 50px" role="main">
  <div class="container">

    <div class="container-fluid">
      <div class="mx-auto mt-4">
        <div class="row">
        <!--style="margin-left:402px;" -->
        <img 
        class="img-logo custom-logo" 
        src='https://sigma-studios.s3-us-west-2.amazonaws.com/test/sigma-logo.png' 
        alt='image'>
        </div>
      </div>
      <h2 class="text-center mt-4">Prueba de desarrollo sigma</h2>
      <p class="text-center mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the <br>
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and <br>
        scrambled it to make a type specimen book.
      </p>
     </div>

     <div class="container-fluid mt-8">
      <div class="row mt-5">
          <div class="col-lg-6 col-sm-12 col-md-6">
            <div class="row">

              <!--  style="width:370px; height:358px;" -->
              <img class="col-9 col-lg-offset-3"  
              style="height:368px; margin-left: 10%;"
              src="10" 
              alt="10" 
              src='https://sigma-studios.s3-us-west-2.amazonaws.com/test/sigma-image.png' 
              alt='image'>
            </div>
          </div>

          <div class="col-lg-6 mt-2 col-sm-12 col-md-6 col-offset-3 custom-form">
            <div class="row">
                <div class="col-10 card" style="height: auto"> 
          
                <form [formGroup]="formOrden" (ngSubmit)="guardarDatos($event)">
                  <div class="form-group mt-5">
                      <label for="departamento" class="font-weight-bold">Departamento*</label>
                      <select 
                        class="form-control" 
                        name="select" 
                        required 
                        id="departamento" 
                        [ngClass]="{ 'is-invalid': submitted && f.departamento.errors }"
                        (change)="cargueCiudad($event)"
                        formControlName="departamento">
                        <option value="">Seleccione Departamento</option>
                        <option [value]="varDepart" *ngFor="let varDepart of departamento, let i = index">{{varDepart}} </option>
                      </select>
                  </div>
                  <div 
                    *ngIf="submitted && f.departamento.errors" 
                    class="text-danger require-error"> 
                      <div *ngIf="f.departamento.errors.required">el Campo Departamento debe ser valido</div>
                  </div>
                <!--  ---->
                  <div class="form-group">
                      <label for="ciudad" class="font-weight-bold">Ciudad*</label>
                      <select 
                        class="form-control" 
                        id="ciudad"
                        name="select" 
                        required 
                        [ngClass]="{ 'is-invalid': submitted && f.ciudad.errors }"
                        formControlName="ciudad">
                       <option value="">Seleccione Ciudad</option>
                       <option [value]="varCiudad" *ngFor="let varCiudad of ciudad, let i = index">{{varCiudad}} </option>
                      </select>
                  </div>
                  <div 
                    *ngIf="submitted && f.ciudad.errors" 
                    class="text-danger require-error">
                      <div *ngIf="f.ciudad.errors.required">el Campo Ciudad debe ser valido</div>
                  </div>
                <!--  -->
                  <div class="form-group">
                      <label for="nombre" class="font-weight-bold">Nombre*</label>
                      <input 
                        type="text" 
                        formControlName="nombre" 
                        class="form-control" 
                        id="nombre"
                        required
                        [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" 
                        placeholder="Nombre">
                  </div>
                  <div 
                    *ngIf="submitted && f.nombre.errors" 
                    class="text-danger require-error">
                      <div *ngIf="f.nombre.errors.required || f.correo.errors.maxlength">Debe ingresar el nombre es requerido, Caracter maximos 50</div>
                  </div>
                <!-- -->
                  <div class="form-group">
                      <label for="correo" class="font-weight-bod">Correo*</label>
                      <input 
                        type="email" 
                        value="" 
                        formControlName="correo" 
                        class="form-control" 
                        id="correo"
                        [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" 
                        placeholder="Correo">
                  </div>
                   <div 
                    *ngIf="submitted && f.correo.errors"
                    class="text-danger require-error">
                      <div *ngIf="f.correo.errors.required || f.correo.errors.maxlength">Debe ingresar correo es requerido, Caracter maximos 50</div>
                  </div>
                <div 
                    *ngIf="errorFormulario" 
                    class="text-danger require-error mb-3">Los Datos no han sido guardados
                </div>
                  <div class="form-group">
                    <button 
                    style="margin-left: 38%;
                      width: 24%;
                      border-radius: 15px;
                      background: #F01766;" 
                    type="submit" 
                    class="btn btn-primary mb-2">Enviar
                    </button>
                  </div>
                </form>
              </div>
            </div> 
          </div>

      </div>
     </div>
  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


